
h2{
  border-bottom: 2px solid black;
  font-family: robotodraft;
  text-transform: capitalize;
  font-size: 50px;
  padding: 20px;
  font-weight: 300;

}

/* These are the settings for the ABOUT title.  */

.about {
  padding: 16px;
  padding-right: 800px;

  font-size: 22px;
  color: black;
  font-weight: 300;

  }

/*Changes the padding, font size, color and the font weight of the about text.  */

.image1{
	margin-left: 1300px;
	margin-bottom: 500px;
	margin-top: -500px;

	border: 2px solid;
}
/*Changes where the first image will be positioned and gives it a thin border.  */

.image2{
	margin-left: 1300px;
	margin-top: -600px;
	margin-bottom: 250px;

	border: 2px solid;
}
/*Changes where the second image will be positioned and gives it a thin border.  */
