h1{
  margin-top: 400px;
  text-align: center;
  font-family: robotodraft;
  font-size: 40px;
  color: white;
  padding: 16px;
  letter-spacing: .25em;
  font-weight: 300;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);

  margin-top: 450px;
  margin-left: 700px;
  margin-right: 700px;



  border: 2px solid white;
  border-radius: 1px;
}

body{
  background: url("Jeff.jpg") no-repeat center fixed;
  background-size: cover;

}

.about {
  border: 2px solid white;
  border-radius: 1px;
  margin-top: 600px;
  margin-right: 600px;
  margin-left: 600px;
  margin-bottom: 50px;
  padding: 16px;

  font-family: robotodraft;
  font-size: 20px;
  color: white;
  font-weight: 300;
