* {
  margin: 0;
  padding: 0;
}
html{

  background: url("Jeff.jpg")
  no-repeat center fixed;
  background-size: cover;

}
.title{
  text-align: center;
  font-family: robotodraft;
  font-size: 40px;
  color: white;
  padding: 16px;
  letter-spacing: .25em;
  font-weight: 300;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);

  margin-right: 700px;
  margin-left: 700px;
  margin-top: 400px;

  border: 2px solid white;
  border-radius: 1px;
  width: 400px;
}




}

ul{
  float: left;
  list-style-type: none;
  margin-top: 25px;

}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;

}

ul li.active a{
  background-color:#fff;
}
h2{
  border-bottom: 2px solid black;
  font-family: robotodraft;
  text-transform: capitalize;
  font-size: 50px;

  padding: 20px;
  font-weight: 300;

}

.about {
  padding: 16px;
  padding-right: 800px;

  font-size: 15px;
  color: black;
  font-weight: 300;
}
.menu ul{
  	display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
  	font-size: 25px;
  }
  .menu ul li{

  	list-style: none;
  	margin: 0 20px;
  	color: #1385d6;
  	cursor: pointer;

  }
